/**
 * @name AMOLED Mode on pc
 * @version 8.0
 * @description The mode AMOLED Mode is now on pc!
 * @author XUKT#0001
 * @website https://xannied.com
 * @BDEditor XUKT
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: transparent;
  --backgroundColor: #000000;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 0px;
  --backgroundOpacity: 0;
  --homeImage: url('https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6a49cf127bf92de1e2_icon_clyde_blurple_RGB.png');
  --homeImageSize: contain;
  --themeColor1: #0027FF;
  --themeColor2: #004FFF;
  --customFont: Open Sans;
  --backgroundCode: rgba(0 0 0 /.5);
  --backgroundName: rgba(0 0 0 /.5);
}

/* Any custom CSS below here */


